<% provide(:page_title, 'Home') %>
<% @header_title = "You Only Sonoma Once" %>

<div id="home-blurb" class="split2">
	Welcome to a quick, dirty little site I built to host the pictures from a trip that I took to Sonoma with Katie. Currently, you can only browse all of the photos using the bottom right "Pictures" link, but eventually there will be more features, such as a day-by-day account of our trip. 
	<p><p>For now, <%= link_to "enjoy!", pictures_path %></p></p>
</div>

<div id="home-pic" class="split2"></div>
