// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "font-mixins.css.scss";

#welcome {
	font-size: 40px;
	margin: 5px;
	height: 60px;
	padding: 5px;
	text-decoration: underline;
	color: $gold;
}

.split2 {
	padding: 10px;
	width: 90%;
	position: relative;
	display: block;
	// border: 3px ridge $babyblue;
	text-align: center;
	margin: 0 auto;
	color: $eggshell;
}

#home-blurb {
	text-align: center;
	border-bottom: 0;
}

#home-pic {
	background: url(http://s3.amazonaws.com/tkblog-pics/day5_biking_tkbadass_2014-06-04.jpg) no-repeat;
	background-size: contain;
	background-position: center;
	height: 400px;
}
